<div class="sheet-wrap">
  <img class="sheet-image" [appImgFallback]="data.poi.imageUrl" [alt]="data.poi.name" />

  <div class="sheet-header">
    <h3>{{ data.poi.name }}</h3>
    <p>{{ data.distanceLabel }}</p>
  </div>

  <div class="sheet-actions">
    <button mat-stroked-button color="primary" (click)="play(true)" [disabled]="!hasPlayableAudio(data.poi)">Ascolta preview</button>

    <ng-container *ngIf="data.unlocked; else lockedAction">
      <button *ngIf="hasPlayableAudio(data.poi); else unlockedNoAudio" mat-flat-button color="primary" (click)="play(false)">
        Riproduci
      </button>
    </ng-container>

    <ng-template #unlockedNoAudio>
      <button mat-flat-button color="primary" disabled>Audio non disponibile</button>
    </ng-template>

    <ng-template #lockedAction>
      <button mat-flat-button color="primary" (click)="purchasePoi()">
        Sblocca questo luogo €{{ formatPrice(data.poi.priceSingle) }}
      </button>

      <button mat-stroked-button color="primary" (click)="purchaseCity()">
        Sblocca {{ cityName(data.poi.cityId) }} €{{ cityUnlockPriceLabel }}
      </button>
    </ng-template>

    <button mat-flat-button color="accent" class="navigate-btn" (click)="navigate()">
      <mat-icon fontSet="material-icons-round">near_me</mat-icon>
      {{ data.isNavigating ? 'Aggiorna navigazione' : 'Avvia navigazione' }}
    </button>
  </div>

  <button mat-button (click)="openDetail()">Vai al dettaglio</button>
</div>

